@model IEnumerable<Res_1_Exame_2023.Models.Veiculo>


<h1>Veiculo propriedade de</h1>
<h2>@ViewBag.NomeProprietario</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Matricula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Matricula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Matricula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
