@model IEnumerable<NOR_24.Models.RegistoUtilizador>

@{
    ViewData["Title"] = "Lista";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valido)
            </td>
            <td>
                    @if (item.Valido == false)
                    {
                        <a asp-action="Valida" asp-route-id="@item.RegistoId" class="btn btn-outline-danger">Invalida</a>
                    }

                    @if (item.Valido == true)
                    {
                        <a asp-action="Invalida" asp-route-id="@item.RegistoId" class="btn btn-outline-primary">Valido</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
