@model IEnumerable<NOR_23.Models.Veiculo>

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Veículo propriedade de </h1>
<h2>@TempData["Proprietario"]</h2>

<p>
    <a asp-action="Adicionar">Adicionar Veículo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
        </tr>
}
    </tbody>
</table>


<p>
    <a asp-controller="Proprietarios" asp-action="Index">Voltar</a>
</p>