@model IEnumerable<REC_24.Models.RegistoNota>

@{
    ViewData["Title"] = "Notas";
}

<h1>Notas</h1>

<h2>Notas por validar = @TempData["notas"]</h2>

<p>
    <a asp-action="Inserir">Inserir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumAluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumAluno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td>
                    @if(User.Identity.IsAuthenticated && item.Username == "Anónimo")
                    {
                        <a asp-action="Validar" asp-route-id="@item.Id">Validar</a>
                    } else if (User.Identity.IsAuthenticated && item.Username == User.Identity.Name)
                    {
                        <a asp-action="Remover" asp-route-id="@item.Id">Remover</a>
                    }

            </td>
        </tr>
}
    </tbody>
</table>
