@model IEnumerable<Final_NOR24.Models.RegistoUtilizador>

@{
    ViewData["Title"] = "Lista";
}

<h1>Utilizadores</h1>

<p>
    <a asp-action="Adiciona" class="btn btn-outline-primary"> + </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valido)
                </td>
                @if (item.Valido == false)
                {
                    <td>
                        <a asp-action="Valida" asp-route-id="@item.Id" class="btn btn-outline-primary">Valida</a>
                    </td>
                }
                else if (item.Valido == true)
                {
                    <td>
                        <a asp-action="Invalida" asp-route-id="@item.Id" class="btn btn-outline-danger">Invalida</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
