@model IEnumerable<FreqPratica_2023.Models.BolsaInvestigacao>

@{
    ViewData["Title"] = "Lista";
}

<h1>Bolsas de Investigação</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Adiciona">Criar Nova</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                Area Cientifica
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                    <a asp-action="AplicarFiltro" asp-route-id="@item.Area">@item.Area</a>
            </td>
            <td>
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
